<html>

<head>
<style type="text/css">
#sumSleepDebt,
#avgSleepTime,
#sleepByDay {
  width: 1800px;
  height: 900px;
  padding-right: 50px;
}

.aboveAvgTd {
  color: #0000FF;
  font-weight: bold;
}
.belowAvgTd {
  color: #FF0000;
  font-weight: bold;
}

.abovePrev,
.prevAboveAvg {
  color: #00FF00;
}
.belowPrev,
.prevBelowAvg {
  font-weight: bold;
  color: #FF0000;
}

.currPrevAvg {
  font-size: 35px;
}
.currPrevAvg td {
  padding-right: 20px;
}

</style>
</head>
<script src="http://yui.yahooapis.com/3.8.1/build/yui/yui-min.js"></script>

<body>
<h3>Overview</h3>
<a href="/?groupType=1">By Day</a><br/><br/>
<a href="/?groupType=2">By Week</a><br/><br/>
<a href="/?groupType=3">By Month</a><br/><br/>

<table>
  <tr><td>Total sleep debt:</td><td>{{currentDebt}}</td></tr>
</table>

7-8 hours per day = {{sevenByDay}} - {{fullByDay}} per night = {{sevenByWeek}} - {{fullByWeek}} per week <br/>
<br/>
<table class="currPrevAvg"><tr class="header"><td></td><td>Week</td><td>Month</td><td>Year</td></tr>
  <tr class="current">
    <td>Current</td>
    <td 
      class="{% if summData['currWeek'] > summData['prevWeek'] %}abovePrev{% elif summData['currWeek'] < summData['prevWeek']%}belowPrev{%endif%}"
      >{{summData['currWeek']}}</td>
    <td 
      class="{% if summData['currMonth'] > summData['prevMonth'] %}abovePrev{% elif summData['currMonth'] < summData['prevMonth']%}belowPrev{%endif%}"
      >{{summData['currMonth']}}</td>
    <td
      class="{% if summData['currYear'] > summData['prevYear'] %}abovePrev{% elif summData['currYear'] < summData['prevYear']%}belowPrev{%endif%}"
     >{{summData['currYear']}}</td>
  </tr>
  <tr class="previous">
    <td>Previous</td>
    <td 
      class="{% if summData['prevWeek'] > summData['AVG'] %}prevAboveAvg{% elif summData['prevWeek'] < summData['AVG']%}prevBelowAvg{%endif%}"
      >{{summData['prevWeek']}}</td>
    <td 
      class="{% if summData['prevMonth'] > summData['AVG'] %}prevAboveAvg{% elif summData['prevMonth'] < summData['AVG']%}prevBelowAvg{%endif%}"
      >{{summData['prevMonth']}}</td>
    <td 
      class="{% if summData['prevYear'] > summData['AVG'] %}prevAboveAvg{% elif summData['prevYear'] < summData['AVG']%}prevBelowAvg{%endif%}"
      >{{summData['prevYear']}}</td>
  </tr>
</table>
<table>

{% for sKey in summKeys %}
  {% if sKey in ['currMonth', 'currWeek', 'currYear', 'prevMonth', 'prevWeek', 'prevYear'] %}
  {% else %}
  <tr><td class="numDaysTd">{{sKey}}</td>
    <td class="avgSleepTd {% if summData["AVG"] < summData[sKey] %} aboveAvgTd {% elif summData["AVG"] > summData[sKey] %} belowAvgTd {% endif %} ">
    {{summData[sKey]}}</td>
  </tr>
  {%endif%}
{% endfor %}
</table>
<br/>
<h3>Sleep time </h3>

<div id="sleepByDay"></div>

<h3>Cumulative Sleep Debt</h3>

<div id="sumSleepDebt"></div>

</body>
<script>

YUI().use('charts', function(Y) {

var sleepData = [
  {% for currdate in dateKeys %}
    { date: '{{currdate}}', minutes: '{{dateData[currdate].avgForGroup}}', avgToDate: '{{dateData[currdate].groupAvgToDate}}', sleepDebt: '{{dateData[currdate].sleepDebtToDate}}'},
  {% endfor %}
];
var sleepData2 = sleepData;
var stylesDef = {
  axes: {
    date: {
      label: {
        rotation: -50
      }
    }
  },
  series:{
    minutes: {
      marker:{
        over: {
          width: 8,
          height:8 
        },
        width: 4,
        height: 4,
        color: "#00F",
        fill: {
          color: "#00F"
        }
      },
      line:{
        color: "#00F",
        weight: 1
      }
    },
    avgToDate: {
      marker:{
        over: {
          width: 12,
          height: 12
        },
        width: 2,
        height: 2
      },
      line:{
        color: "#0F0",
        weight: 2
      }
    },
  }

};
var sdStylesDef = {
  axes: {
    date: {
      label: {
        rotation: -50
      }
    }
  },
  series:{
    sleepDebt:{
      marker:{
        width: 2,
        height: 2
      },
      line:{
        color: "#0F0",
        weight: 3
      }
    }
  }
};
var sleepDebtChart = new Y.Chart({dataProvider: sleepData2,
                                  render: "#sumSleepDebt",
                                  categoryKey: "date",
                                  categoryType: "time",
                                  seriesKeys: ["sleepDebt"],
                                  styles: sdStylesDef});
var sleepDataChart = new Y.Chart({dataProvider: sleepData,
                                  render: "#sleepByDay",
                                  categoryKey: "date",
                                  categoryType: "time",
                                  seriesKeys: ["minutes", "avgToDate"],
                                  styles: stylesDef,
                                  axes: { 
                                    leftTime: {
                                      type: "numeric", position: "left", minimum: {% if isIndivDay %} 50 {% else %} 300 {% endif %}, keys: ["minutes", "avgToDate"]
                                    }}});


var dataGraphic = sleepDataChart.get("graph").get("gridlines").get("graphic");
var gWidth = dataGraphic.get("width");
var gHeight = dataGraphic.get("height");
var oldAutoDraw = dataGraphic.get("autoDraw");
dataGraphic.set("autoDraw", true);
dataGraphic.set("autoDraw", oldAutoDraw);
});
</script>
