<html>

<head>
<style type="text/css">
#sumSleepDebt,
#avgSleepTime,
#sleepByDay {
  width: 1800px;
  height: 900px;
  padding-right: 50px;
}

.aboveAvgTd {
  color: #0000FF;
  font-weight: bold;
}
.belowAvgTd {
  color: #FF0000;
  font-weight: bold;
}

.abovePrev,
.prevAboveAvg {
  color: #00FF00;
}
.belowPrev,
.prevBelowAvg {
  font-weight: bold;
  color: #FF0000;
}

.currPrevAvg {
  font-size: 35px;
}
.currPrevAvg td {
  padding-right: 20px;
}
#avgSleepInPastNumDays {
  font-size: 20px;
}

</style>
</head>
<script src="https://cdn.jsdelivr.net/npm/echarts@4.7.0/dist/echarts.min.js"></script>

<body>
<h3>Overview</h3>
<a href="/?groupType=1">By Day</a><br/><br/>
<a href="/?groupType=2">By Week</a><br/><br/>
<a href="/?groupType=3">By Month</a><br/><br/>
<a href="/?groupType=4">By Year</a><br/><br/>

<table>
  <tr><td>Total sleep debt:</td><td>{{currentDebt}}</td></tr>
</table>

7-8 hours per day = {{sevenByDay}} - {{fullByDay}} per night = {{sevenByWeek}} - {{fullByWeek}} per week <br/>
<br/>
<table class="currPrevAvg"><tr class="header"><td></td><td>Week</td><td>Month</td><td>Year</td></tr>
  <tr class="current">
    <td>Current</td>
    <td 
      >{{summData.currWeek}}</td>
    <td 
      >{{summData.currMonth}}</td>
    <td
     >{{summData.currYear}}</td>
  </tr>
  <tr class="previous">
    <td>Previous</td>
    <td 
      >{{summData.prevWeek}}</td>
    <td 
      >{{summData.prevMonth}}</td>
    <td 
      >{{summData.prevYear}}</td>
  </tr>
</table>
<br/><br/>
<table id="avgSleepInPastNumDays">
</table>
Avg: {{summData.avg}}<br/>
<br/>
<br/>
<h3>Sleep time </h3>

<div id="sleepByDay"></div>

<h3>Cumulative Sleep Debt</h3>

<div id="sumSleepDebt"></div>


<script type="text/javascript">
var sleepChart = echarts.init(document.getElementById('sleepByDay'));

var dateArr = {{ sortedDates }};
var sleepByDateArr= [450];
var option = {
  title: { 
    text: 'Sleep over time'
  },
  data: {},
  tooltip: {},
  xAxis: {
    type: 'category',
    data: dateArr
  },
  yAxis: {
    type: 'value'
  },
  series: [{
    type: 'line',
    data: sleepByDateArr
  }]
};

sleepChart.setOption(option);
</script>
</body>
<script>

</script>
